In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\Himanshu Agarwal\Desktop\Python programs\ML using Python Microsoft\day4\day4\data\adult.csv")
df.head()

,Unnamed: 0,age,workclass,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#Cleaning our data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.drop_duplicates(keep='first',inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [7]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   education-num   32561 non-null  int64
 4   marital-status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   gender          32561 non-null  object
 9   capital-gain    32561 non-null  int64
 10  capital-loss    32561 non-null  int64
 11  hours-per-week  32561 non-null  int64
 12  native-country  32561 non-null  object
 13  income          32561 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.7+ MB

In [9]:
#Now that we've cleaned our data, let's proceed towards Random Forest modelling.
#We have to predict income on the basis of rest of the information provided.

In [10]:
#We cannot train a model with string data.
#So converting it to numeric using LabelEncoder

from sklearn.preprocessing import LabelEncoder
lb =LabelEncoder()
df = df.apply(lb.fit_transform)

In [11]:
df.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,22,7,9,12,4,1,1,4,1,25,0,39,39,0
1,33,6,9,12,2,4,0,4,1,0,0,12,39,0
2,21,4,11,8,0,6,1,4,1,0,0,39,39,0
3,36,4,1,6,2,6,0,2,1,0,0,39,39,0
4,11,4,9,12,2,10,5,2,0,0,0,39,5,0

In [12]:
#Now our data looks good.
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income'],
      dtype='object')

In [13]:
from sklearn.model_selection import train_test_split

x = df[['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country']]
y = df['income']

x_train, x_test, y_train, y_test = train_test_split(x,y,stratify=y,test_size=0.2,random_state=42)

In [14]:
#Now that we have seperated our data as training and test data, we'll create a Random Forest model.

In [15]:
#First, let's import the RandomForestClassifier library as-

from sklearn.ensemble import RandomForestClassifier

In [16]:
#Now we'll create an object of RandomForestClassifier

rf = RandomForestClassifier(random_state=42)

In [17]:
#Now let's train our model on training data as-
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [18]:
rf.score(x_test,y_test)

0.8509135575003839

In [19]:
y_pred = rf.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

confusion_matrix(y_test,y_pred)

array([[4547,  398],
       [ 573,  995]], dtype=int64)

In [21]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.92      0.90      4945
           1       0.71      0.63      0.67      1568

    accuracy                           0.85      6513
   macro avg       0.80      0.78      0.79      6513
weighted avg       0.85      0.85      0.85      6513

In [22]:
#It is a random forest model. So it creates 'n' number of trees randomly and combines them to create our model.
#By default, random forest creates 100 trees.

In [23]:
#Similar to Decision Trees, Random Forest object creation also takes a number of parameters.
#Therefore, we need to use GridSearchCV here as well in a similar fashion to how we used there.

In [24]:
from sklearn.model_selection import GridSearchCV,StratifiedShuffleSplit

In [25]:
#Look, it is impossible to remember the param_grid parameters for every ML algorithm.
#All we have to do is google "ModuleName sklearn"
#Eg1- RandomForestClassifier sklearn
#Eg2- DecisionTreeClassifier sklearn

In [26]:
param_grid = {'n_estimators':[50,100,150,200],
            'max_depth':[100,200,300,400]
             }
grid_search = GridSearchCV(RandomForestClassifier(),param_grid,cv=StratifiedShuffleSplit(10))
grid_search.fit(x_train,y_train)

GridSearchCV(cv=StratifiedShuffleSplit(n_splits=10, random_state=None, test_size=None,
            train_size=None),
             error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [100, 200, 300, 400],
                         'n_estimators': [50, 100, 150, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [27]:
grid_search.best_params_

{'max_depth': 400, 'n_estimators': 150}

In [28]:
grid_search.best_score_

0.8481381957773513

In [29]:
grid_search.best_estimator_

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=400, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
grid_search.cv_results_

{'mean_fit_time': array([2.08258953, 4.11558034, 6.16060398, 8.20903239, 2.07252181,
        4.11729324, 6.21515186, 8.20299213, 2.05282061, 4.04642394,
        6.04388993, 8.08328433, 1.97168813, 3.96818771, 5.9150815 ,
        7.89340031]),
 'std_fit_time': array([0.13005898, 0.04387394, 0.05254906, 0.08701329, 0.03283215,
        0.03845354, 0.0509732 , 0.12362935, 0.07480175, 0.0684737 ,
        0.09660519, 0.16885623, 0.01117361, 0.03998041, 0.03781848,
        0.05076663]),
 'mean_score_time': array([0.08100917, 0.14768538, 0.21612768, 0.2930496 , 0.0766803 ,
        0.14646013, 0.21652131, 0.29036262, 0.07239316, 0.1431546 ,
        0.21280189, 0.28019621, 0.07120867, 0.14316142, 0.2093106 ,
        0.2785259 ]),
 'std_score_time': array([0.01433302, 0.00363105, 0.00699942, 0.01008545, 0.00195945,
        0.00270998, 0.00381295, 0.00745019, 0.00240247, 0.00403718,
        0.00832957, 0.01159481, 0.00080874, 0.00663492, 0.00495363,
        0.00574617]),
 'param_max_depth': masked_array(data=[100, 100, 100, 100, 200, 200, 200, 200, 300, 300, 300,
                    300, 400, 400, 400, 400],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[50, 100, 150, 200, 50, 100, 150, 200, 50, 100, 150,
                    200, 50, 100, 150, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 100, 'n_estimators': 50},
  {'max_depth': 100, 'n_estimators': 100},
  {'max_depth': 100, 'n_estimators': 150},
  {'max_depth': 100, 'n_estimators': 200},
  {'max_depth': 200, 'n_estimators': 50},
  {'max_depth': 200, 'n_estimators': 100},
  {'max_depth': 200, 'n_estimators': 150},
  {'max_depth': 200, 'n_estimators': 200},
  {'max_depth': 300, 'n_estimators': 50},
  {'max_depth': 300, 'n_estimators': 100},
  {'max_depth': 300, 'n_estimators': 150},
  {'max_depth': 300, 'n_estimators': 200},
  {'max_depth': 400, 'n_estimators': 50},
  {'max_depth': 400, 'n_estimators': 100},
  {'max_depth': 400, 'n_estimators': 150},
  {'max_depth': 400, 'n_estimators': 200}],
 'split0_test_score': array([0.85412668, 0.85335893, 0.85527831, 0.85604607, 0.85451056,
        0.85412668, 0.85642994, 0.85527831, 0.85527831, 0.85642994,
        0.85566219, 0.85681382, 0.85489443, 0.85681382, 0.85527831,
        0.85527831]),
 'split1_test_score': array([0.84261036, 0.84414587, 0.8452975 , 0.84836852, 0.843762  ,
        0.84606526, 0.85028791, 0.84721689, 0.8452975 , 0.84606526,
        0.84913628, 0.8452975 , 0.84491363, 0.84606526, 0.84990403,
        0.84606526]),
 'split2_test_score': array([0.85489443, 0.85566219, 0.85451056, 0.85566219, 0.85451056,
        0.85182342, 0.85681382, 0.85642994, 0.8537428 , 0.85642994,
        0.85566219, 0.85796545, 0.85642994, 0.85451056, 0.85642994,
        0.85451056]),
 'split3_test_score': array([0.84452975, 0.84452975, 0.84491363, 0.84721689, 0.8487524 ,
        0.84606526, 0.84836852, 0.84683301, 0.8452975 , 0.8487524 ,
        0.8487524 , 0.84568138, 0.84683301, 0.85067179, 0.84836852,
        0.84491363]),
 'split4_test_score': array([0.84145873, 0.84107486, 0.84222649, 0.84107486, 0.83723608,
        0.83877159, 0.83838772, 0.84606526, 0.84299424, 0.84414587,
        0.84145873, 0.84568138, 0.843762  , 0.84261036, 0.84184261,
        0.84261036]),
 'split5_test_score': array([0.85143954, 0.85105566, 0.8537428 , 0.85681382, 0.8537428 ,
        0.85335893, 0.85489443, 0.8571977 , 0.85182342, 0.85220729,
        0.85527831, 0.85642994, 0.85412668, 0.8537428 , 0.85604607,
        0.85297505]),
 'split6_test_score': array([0.83685221, 0.83761996, 0.83493282, 0.83493282, 0.83454894,
        0.83761996, 0.83877159, 0.83915547, 0.83838772, 0.84069098,
        0.83646833, 0.83493282, 0.83570058, 0.83339731, 0.83608445,
        0.83608445]),
 'split7_test_score': array([0.84606526, 0.84760077, 0.85067179, 0.84760077, 0.84261036,
        0.84606526, 0.84836852, 0.84721689, 0.84644914, 0.84990403,
        0.8487524 , 0.84721689, 0.84683301, 0.84798464, 0.84760077,
        0.84798464]),
 'split8_test_score': array([0.84568138, 0.84683301, 0.84568138, 0.84798464, 0.84644914,
        0.84568138, 0.8452975 , 0.84644914, 0.84721689, 0.84760077,
        0.84683301, 0.84952015, 0.84913628, 0.84952015, 0.84760077,
        0.84606526]),
 'split9_test_score': array([0.83685221, 0.83877159, 0.83915547, 0.83646833, 0.83838772,
        0.83723608, 0.83800384, 0.83800384, 0.83992322, 0.83723608,
        0.83992322, 0.84145873, 0.83608445, 0.83992322, 0.84222649,
        0.83646833]),
 'mean_test_score': array([0.84545106, 0.84606526, 0.84664107, 0.84721689, 0.84545106,
        0.84568138, 0.84756238, 0.84798464, 0.84664107, 0.84794626,
        0.84779271, 0.84809981, 0.8468714 , 0.84752399, 0.8481382 ,
        0.84629559]),
 'std_test_score': array([0.00611125, 0.00573251, 0.00649252, 0.00739997, 0.00701393,
        0.00593708, 0.00696174, 0.00628903, 0.00531431, 0.00593323,
        0.0064401 , 0.00694606, 0.00684217, 0.00686657, 0.00637097,
        0.00641936]),
 'rank_test_score': array([15, 13, 10,  8, 15, 14,  6,  3, 10,  4,  5,  2,  9,  7,  1, 12])}

In [31]:
y_pred = grid_search.predict(x_test)

In [32]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [33]:
confusion_matrix(y_test,y_pred)

array([[4548,  397],
       [ 562, 1006]], dtype=int64)

In [34]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.92      0.90      4945
           1       0.72      0.64      0.68      1568

    accuracy                           0.85      6513
   macro avg       0.80      0.78      0.79      6513
weighted avg       0.85      0.85      0.85      6513

In [35]:
x_test['Predicted Income'] = y_pred
x_test['Actual Income'] = y_test

C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Himanshu Agarwal\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
x_test

,age,workclass,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,Predicted Income,Actual Income
9009,14,5,10,15,4,10,3,4,1,0,0,39,39,0,0
25134,3,0,15,9,4,0,3,4,1,0,0,39,39,0,0
16682,61,5,9,12,2,4,0,4,1,98,0,44,39,1,1
27044,15,4,9,12,2,3,0,4,1,0,0,43,39,1,1
3302,44,4,11,8,2,1,0,4,1,0,0,2,39,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11814,25,6,9,12,2,5,0,4,1,0,0,59,39,0,1
27934,17,4,15,9,2,14,0,2,1,0,62,39,39,0,0
6890,22,4,14,14,2,10,0,4,1,0,0,44,39,1,1
32529,12,4,11,8,5,12,4,4,0,0,0,34,39,0,0
18518,2,4,15,9,4,8,2,2,1,0,0,34,39,0,0

In [37]:
#As we can see, model looks good.
#Having an 85% accuracy is not bad. :)